<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,user-scalable=0">
        <meta name="title" content="LinkPad">
        <meta name="description" content="링크패드로 간편히 링크들을 메모하세요.">
        <meta name="keywords" content="LinkPad, 링크패드, 링크저장, 윈도우, 리눅스, macOS, iOS, 안드로이드, 링크 저장, 할일 메모, 목록 메모, 아웃룩">
        <title>LinkPad - 링크 메모</title>

        <!-- TODO naver webmaster verification -->

        <!-- TODO schema.org ld+json data -->

        <!-- TODO og (opengraph) -->
        <meta property="og:description" content="쉽고 빠른 북마크 및 메모 서비스">
        <!-- <meta property="og:image" content="https://send-anywhere.com/assets/img/brand/og_logo.png"> -->
        <meta property="og:title" content="LinkPad">
        <meta property="og:locale" content="en_US">
        <meta property="og:locale:alternate" content="ko_KR">
        <meta property="og:locale:alternate" content="ja_JP">

        <!-- TODO advertisements -->
        <!-- TODO Admanager -->
        <!-- TODO Adsense -->
        <!-- TODO Criteo Loader-->
    </head>

    <body></body>
</html>